
:root{
    --header: blue;
    --main: white;
    --footer: black;

}





header {
    display: flex;
    background-color: var(--header);
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    

}    

main {

    background-color: var(--main);
}

footer {

    background-color: var(--footer);
}

img {

    background-color: white;
}

nav{

    background-color: white;
    flex-basis: 200px;
}

button {

    background-color: white;
}

