
/* inizio sezione del root */
:root{
    --header: rgb(49, 49, 254);
    --main: white;
    --footer: black;
    --img: red;
    --h1: brown;
    --h2: green;
    --h4: rgb(190, 0, 178);
    --nav: yellow;
    --button: violet;
    --p: rgb(33, 209, 33);
}
/* fine sezione del root */


/* Inizio sezione del corpo */
header {
    display: flex;
    background-color: var(--header);
    justify-content: space-around;
    height: auto;
    padding: 5px;
    

}    

main {
    background-color: var(--main);
    /* flex-basis: 50%; */
    /* display: flex; */
    /* margin: auto;
    width: 80%; */
}

footer {

    background-color: var(--footer);
    height: auto;
    padding: 30px;
    /* display: flex;
    padding: 30px;
    gap: 10px; */
    
}
/* Fine sezione del corpo */



/* Inizio sezione dei Elementi */
h1 {
    background-color: var(--h1);
    height: 30px;
    width: 30%;
}

h2 {
    background-color: var(--h2);
    height: 30px;
    width: 30%;
}

h4 {

    background-color: var(--h4);
    height: 30px;
    width: 30%;
}

p {
    background-color: var(--p);
    height: 50px;
    width: 30%;
    /* padding: 20px; */

}

.logo {
    background-color: var(--img);
    
    width: 20%;
}

.img-big {
    background-color: var(--img);
    height: 200px;
    width: 50%;

}

nav{
    background-color: var(--nav);
    /* flex-basis: 200px; */
    width: 30%;
}

button {
    background-color: var(--button);
    height: 30px;
    width: 50%;
    
}

.button-header {
    width: 20%;
}

ul {
    list-style-type: none;
}

hr {
   border: 2px solid rgb(174, 255, 0);
   
}


/* Fine sezione dei Elementi */



/* Inizio sezione dei Flex container */
.container1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-color: var(--header);
}

.button {
    display: flex;
    width: 30%;

}

.flex-container {

    display: flex;
    background-color: aqua;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px;

}



.flex-figure {

    /* justify-content: flex-end; */
    background-color: red;
    /* align-items: flex-end; */
    flex-basis: 50%;

}

.flex-figure6 {

    background-color: red;
    height: 100px;
    width: 50%;

}


.flex-h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-end; */
    align-items: center;
    flex-basis: 50%;
    /* padding: 50px; */
}



.flex-container2 {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 10px;

}


.flex-container4 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    /* padding: 30px; */

}

.last {

    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flex-footer{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.primo-link {
    background-color: aqua;
    height: 50px;
    width: 27%;
    
}

.flex-footer2 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    
}

.flex-figure5 {

    background-color: aliceblue;
    height: 20px;
    width: 20%;
}

.flex-button5 {
    background-color: var(--button);
    height: 20px;
    width: 20%;
}
    
/* Fine sezione dei Flex container */